APP_ENV=local
APP_DEBUG=true
APP_NAME="My Application"
APP_URL=http://localhost:8000

MAIL_MODE=log
MAIL_FROM_NAME="My Application"
MAIL_FROM_ADDRESS=

DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=