# macOS
.DS_Store

# Composer
/vendor/

# npm
/node_modules/

# Environment configuration
.env
.env.*
!.env.example

# Application logs
/storage/logs/*

# PHP sessions
/storage/sessions/*

# Keep required storage directories in Git
!/storage/logs/.gitkeep
!/storage/sessions/.gitkeep

# Personal notes
notes.php